body {
    font-family: Arial, Helvetica, sans-serif;
    background: #FFFFFF;
}

/* Style navigation bar  */
.navbar .navbar-nav {
    display: inline-block;
    color: #ffffff;
    font-size: 150%;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

/* Style home section */
#home {
    text-align: center;
    background: #2c69a0;
    padding-top: 90px;
    padding-bottom: 40px;
}

.circular-landscape {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
}

.circular-landscape img {
    width: 100%;
    height: auto;
    margin-top: -70px;
}

h1 {
    font-size: 400%;
    font-weight: bold;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 10px;
}

hr.star-light {
    max-width: 250px;
    margin: 0 auto;
    padding-bottom: 12px;
    border-top: solid 5px #ffffff;
}

.fab {
    font-size: 50px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: #ffffff;
}

h2 {
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h3 {
    font-size: 150%;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

#about {
    color: #000000;
    background: #ffffff;
    padding-top: 60px;
}

#classes h3 {
    padding-bottom: 20px;
}

#classes ul {
    padding-left: 40px;
    list-style: disc;
}

#classes ul li {
    padding-top: 2px;
    padding-bottom: 2px;
}

#classes {
    width: 50%;
    font-size: 120%;
    display: block;
    float: left;
    padding-left: 15%;
    padding-bottom: 60px;
}

#self-introduction {
    width: 50%;
    font-size: 140%;
    display: block;
    float: right;
    padding-left: 5%;
    padding-right: 5%;
}

#self-introduction p {
    line-height: 150%;
    padding-left: 4%;
}

#experiences {
    clear: both;
    /* height: 100vh; */
    background: #2c69a0;
    padding-top: 56px;
}

#projects {
    /* height: 100vh; */
    background: #30F0A0;
    padding-top: 56px;
}

#contact {
    background: #2c69a0;
}
